{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <div class="container">

    {% if user.is_authenticated %}
    <h3 style="display: inline;">Welcome {{user.first_name}}</h3>  
    <a href="profile" style="text-decoration: none; margin-left:30px"> view profile</a>
    <div style="display: flex; align-items: center; margin-top:30px " >
    <a href="clubs" style="text-decoration: none;">View clubs</a>
    
    
    </div>

    {% else %}
        <h1 style="text-align: center;">Welcome to home page</h1><br>
    <a href="login" style="text-decoration: none;">login</a>
    <a href="admin" style="text-decoration: none;">admin</a>
    <a href="register"  style="text-decoration: none;">register</a>
    {%endif%}
    </div>



</body>
</html>