{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <div class="container">
    <form action="login" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="submit" id="aa" >
        <div>
        {% for message in messages %}
        <h3 style="color: red;">{{message}}</h3>
        {% endfor %}
    </div>
    </form>
    <h4>don't have an account..?</h4>
    <a href="register" style="text-decoration:none">register</a>
    </div>
</body>
</html>