{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <h2>personal information</h2>
        <p>Name:{{user.first_name}}</p>
        <p>Username:{{user.username}}</p>
        <p>email:{{user.email}}</p>
        <a href="/" style="text-decoration: none;">Home Page</a>
        <a href="logout" style="text-decoration: none;">logout</a>
    </div>
    
    <div class="container">
        <h1>Event activity </h1>
        <h2>Events registered for</h2>
        <ul>
            {% for re in reg_events %}
            <li>{{re.event}}</li>

            {% endfor %}
        </ul>
        
    </div>
    
    

    
</body>
</html>